<div class="mainText mt-4">
    <h2>Tantárgyaim</h2>
</div>

<div class="container mt-5">
    <div class="cards">
        <div class="content">
            <label for="subject" class="text form-label">Tantárgyam</label>
            <input type="text" class="form-control" placeholder="tantárgy..." #newSubject>
            <!-- <div>
                <button routerLink="/subjects" class="btn btn-info mt-2" 
                (click)="store(newSubject.value); newSubject.value='' ">Felvesz</button>
            </div> -->

            <div class="gradesButton d-grid gap-2 mt-2">
                <button class="btn btn-success" (click)="add()">+</button>
            </div>


            <div class="mt-3" *ngIf="grade">
                <label for="subject" class="text form-label">Jegyeim</label>
                <input type="number" class="form-control" placeholder="jegyeim...">
    
                <div class="d-grid gap-2 ">
                    <button routerLink="/subjects" class="btn btn-info mt-2"
                    (click)="store(newSubject.value); newSubject.value='' ">Felvesz</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="cards mt-2">
        <div class="grades">
            <label for="subject" class="form-label">Jegyeim</label>
            <input type="number" class="form-control" placeholder="jegyeim...">
            <div>
                <button routerLink="/subjects" class="btn btn-info mt-2">Felvesz</button>
            </div>
        </div>
    </div> -->


    <!-- <div class="cards" *ngIf="show"> -->
    <div class="cards" >
        <div class="content">
            <label id="subjectEdit" for="subject" class="form-label">Tantárgy</label>
            <input type="text" class="form-control" [(ngModel)]="editSubject" #clickSubject>
                
                <div>
                    <button class=" editBtn btn btn-outline-info" type="button"
                    (click)="update()">Szerkeszt</button>
                    <!-- (click)="update(clickSubject.value)">Szerkeszt</button> -->
                </div>
        </div>
    </div>

<div class="subjectTable mt-5">
    <div class="dataContent">
        <table class="table table-default">
        <thead>
            <th>ID</th>
            <th>Tantárgy</th>
            <th>Szerkeztés</th>
            <th>Törlés</th>
        </thead>
        <tbody *ngIf="users.length">
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.subject }}</td>
                <td><button class="editBtn btn btn-success" (click)="editShow()"><i class="bi bi-pencil"></i></button></td>
                <td><button  class=" deletBtn btn btn-danger" (click)="destroy()"><i class="bi bi-trash"></i></button></td>
            </tr>
        </tbody>
        
        </table>
    </div>

<div>
