<div class="mainText mt-4">
    <h2>Vedd fel tantárgyaidból kapott jegyeidet</h2>
</div>


<div class="actionAndSearchButton m-4">
    <button id="addaction" class="btn btn-info" (click)="add()">+</button>

    <button id="search" class="btn btn-dark" (click)="search()"> <i class="bi bi-search"></i></button>
</div>

<div class="m-5" *ngIf="searchPanel">
  <input type="search" class="search form-control" placeholder="Keresés..." [(ngModel)]="actualData">
</div>


<div class="container mt-5" *ngIf="addPanel">
    <form [formGroup]="addForm" (submit)="addSubjects()">
    <div class="cards">

        <div class="content">
            <label for="subject" class="text form-label">Tantárgyam</label>
            <input type="text" class="form-control"
            placeholder="tantárgy..." formControlName="subject">

            <div class="mt-3" >
                <label for="subject" class="text form-label">Jegyeim</label>
                <input type="number {{0>5}}" class="form-control"
                placeholder="jegyeim..." formControlName="grade">


            </div>

            <div class="d-grid gap-2 ">
                <button type="submit" class=" btn btn-dark mt-2">Felvesz</button>
            </div>

        </div>

    </div>
</form>
</div>

<div class="container">

        <div class="cards" *ngIf="show">
            <form [formGroup]="form" (ngSubmit)="updateSubject()">
                <div class="content">
                        <div>
                            <label id="id" for="id" class="form-label">ID</label>
                            <input type="text" class="form-control" formControlName="id" readonly>
                        </div>
                        <div>
                            <label id="subjectEdit" for="subject" class="form-label">Tantárgy</label>
                            <input type="text" class="form-control" formControlName="subject" >
                        </div>

                        <div>
                            <label id="gradeEdit" for="grade" class="form-label">Jegy</label>
                            <input type="number" class="form-control" formControlName="grade">
                        </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-info mt-2" type="submit">Szerkeszt</button>
                            </div>
                    </div>
            </form>
        </div>
</div>
<div>
</div>

<div class="subjectTable mt-1">
    <div class="dataContent">
        <table class="table table-default">
        <thead>
            <th>ID</th>
            <th>Tantárgy</th>
            <th>Jegy</th>
            <th>Szerkeztés</th>
            <th>Törlés</th>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects | service:actualData">
                <td>{{ subject.id }}</td>
                <td>{{ subject.subject }}</td>
                <td>{{ subject.grade }}</td>
                <td><button class="btn btn-info" (click)="editShow(subject)"><i class="bi bi-pencil"></i></button></td>
                <td><button  class=" deletBtn btn btn-dark" (click)="destroy(subject.id)"><i class="bi bi-trash"></i></button></td>
            </tr>
        </tbody>

        </table>
    </div>

<div>
