.cards{
    position:relative;
    width: 300px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}