
<header>
    <a href="#" class="logo">
        <span class="bi bi-house-fill">StudPlan</span>
    </a>

        <ul class="navbar" *ngIf="navbar" (click)="close()">
            <td>
                <a routerLink="/home">Főoldal</a>
            </td>

            <td>
                <a routerLink="/services">Szolgáltatásunk</a>
            </td>

            <td>
                <a routerLink="/about">Rólunk</a>
            </td>
        </ul>

        <div class="main">
            <a routerLink="/login" class="log"><span class="bi bi-person-fill">Login</span></a>
            <a class="reg" routerLink="/register">Sign Up</a>
           <i id="menu-icon" (click)="show()"><span class="bi bi bi-list"></span></i>
        </div>
</header>