
// header{
//     position: relative;
//     width: 100%;
//     top: 0;
//     right: 0;
//     z-index: 1000;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background: transparent;
//     padding: 28px 12%;
//     transition: all .50s ease;

// }
// .logo{
//     display: flex;
//     align-items: center;
//     text-decoration: none;
// }

// .logo span {
//     color:rgb(0, 0, 0);
//     font-weight: 600;
//     font-size: 28px;
//     margin-right: 3px;
// }
// .navbar{
//     display: flex;
   
// }

// .navbar a{
//     color: rgb(0, 0, 0);
//     font-size: 1.1rem;
//     font-weight: 500;
//     padding: 5px 0;
//     margin: 0px 30px;
//     transition: all .50s ease;
    
// }

// .navbar a:hover{
//     color: black;
// }
// .navbar a:active{
//     color: black;
// }

// .main{
//     display: flex;
//     align-items: center;
// }

// .main a{
//     text-decoration: none;
//     margin-right: 25px;
//     margin-left: 10px;
//     color: black;
//     font-size: 1.1rem;
//     font-weight: 500;
//     transition: all .50s ease;
// }
// .main a:hover{
//     background-color: rgba(0, 0, 0, 0.057);
//     padding: 5px;
//     border-radius: 5px;
// }

// .log{
//     display: flex;
//     align-items: center;

// }

// #menu-icon{
//     border: none;
//     // padding: 2px 8px 2px;
//     background-color:clear;
//     font-size: 25px;
//     color:rgb(0, 0, 0);
//     cursor: pointer;
//     z-index: 10001;
//     display: none;
// }

// @media (max-width: 1280px){
//     header{
//         padding: 14px 2%;
//         transition: .2s;
//     }
    
    
//     .navbar a{
//         padding: 5px 0;
//         margin: 0px 20px;
      
        
//     }
   
// }
// @media (max-width: 1090px){
//     #menu-icon{
//         display: block;
//         background-color: none;
//         padding: 0px 5px;

//         border-radius: 5px;
//     }
//     #menu-icon:hover{
//         background-color: rgba(255, 115, 0, 0.493);
       
//     }
//     .navbar{
//         position: absolute;
//         margin-top: 250px;
//         // top: 100%;
//         right: -100%;
//         width: 170px;
//         height: 29vh;
//         background-color: rgba(224, 224, 224, 0.42);
//         display: flex;
//         // flex-direction: column;
//         justify-content: flex-start;
//         border-radius: 10px;
//         transition: all .50s ease;
       
//     }
//     .navbar td{
//         display: block;
//         padding: 10px;
//         border-radius: 10px;
//     }
//     .navbar td a{
//         margin: 12px 0;
//         transition: all .5s ease;
//         text-decoration: none;

//     }

//     .navbar td:hover{
//         color: #000;
//         width: 170px;
//         background-color: rgba(255, 115, 0, 0.443);
//         // transform: translateY(5px);
//         transition: 0.1s;
        
//     }
//     .navbar a:active{
//         color: #000;
//     }
//     .navbar{
//         right: 2%;
//         opacity: 1;
//     }

//     .main a{
//         text-decoration: none;
//         margin-left: 10px;
//         color: black;
//         font-size: 1.1rem;
//         font-weight: 500;
//         transition: all .50s ease;
//     }
//     .main .reg{
//         margin-right: 150px;
//     }
//     .main .log {
        
//         margin-left: 100px;
//     }

// }