<p>Tantárgyaim</p>

<div class="container">
    <div class="cards">
        <div class="content">
            <label for="subject" class="form-label">Tantárgyam</label>
            <input type="text" class="form-control" placeholder="tantárgy...">
            <div>
                <button routerLink="/subjects" class="btn btn-info">Felvesz</button>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="content">
            <label for="subject" class="form-label">Jegyeim</label>
            <input type="number" class="form-control" placeholder="jegyeim...">
            <div>
                <button routerLink="/subjects" class="btn btn-info">Felvesz</button>
            </div>
        </div>
    </div>
</div>


<div class="">
    <table>
    <thead>
        <th>ID</th>
        <th>Tantárgy</th>
        <th>Szerkeztés</th>
        <th>Törlés</th>
    </thead>


    <tbody *ngIf="data.length">
        <tr *ngFor="let sub of data">
            <td>{{ sub.id }}</td>
            <td>{{ sub.subject }}</td>
            <td><button class="editBtn btn btn-outline-success" routerLink="/edit/{{sub.id}}"><i class="fa fa-pencil fa-fw"></i></button></td>
            <td><button  class=" deletBtn btn btn-outline-danger" (click)="destroy(sub.id)"><i class="fa fa-trash fa-fw"></i></button></td>
        </tr>
    </tbody>

</table>

<div>
