<p>Tantárgyaim</p>

<div>
    <table class=" table table-striped">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Tantárgy</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let sub of data">
                <td>{{sub.id}}</td>
                <td>{{sub.subject}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="cards">
        <div class="content">
            <label for="subject" class="form-label">Tantárgyam</label>
            <input type="text" class="form-control" placeholder="tantárgy...">
            <div>
                <button routerLink="/subjects" class="btn btn-info">Felvesz</button>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="content">
            <label for="subject" class="form-label">Jegyeim</label>
            <input type="number" class="form-control" placeholder="jegyeim...">
            <div>
                <button routerLink="/subjects" class="btn btn-info">Felvesz</button>
            </div>
        </div>
    </div>
</div>