body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url('/assets/images/bg3.gif');
   
}

// CONTAINER
.container{
    max-width: 700px;
    width: 100%;
    height: 500px;
    border-radius: 15px ;
    box-shadow: 0px 2px 40px rgb(175, 183, 199);
    margin:auto;
    margin-top: 200px;
}

// jobb oldal LOGIN

.login{
    display: flex;
    flex-direction: column;
    background-color: opacity($color: #ffffff);
    align-items: center;

}

#loginText{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

form .box .input-box{
    margin: 25px;
}

form .box .input-box .form-label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
 }
 
 
 .login .box .input-box input{
     height: 35px;
     width: 100%;
     min-width: 300px;
     outline: none;
     border: 1px solid #6188f1;
     padding-left: 15px;
     font-size: 16px;
     border-bottom-width: 2px ;
     transition: all 0.3s ease;
 }

.link{
    display: flex;
    font-size: 15px;
}
.regLink{
    color: #000000;
}


form .button {
    height: 45px;
    margin: 45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    min-width: 300px;
    background-color: #546cf6;
    color: #ffffff;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

form .button button:hover{
    background-color: #304fff;
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }

}

//VALIDATION
input.ng-valid {
    border-left: 10px solid #29debd;
}
input.ng-invalid {
    border-left: 10px solid #e41b1b;
}
span{
    color: #e41b1b;
}