<body>
  
  <div class="container">
  
      <form class="login" [formGroup]="form" (submit)="login()">
          <div id="loginText" class="text-center">Bejelentkezés</div>
  
          <!-- LOGIN BOX -->
          <div class="box">
  
            <div class="input-box mb-3">
                <label for="email" class="form-label ">Email cím</label>
                <input type="text" class="form-control"
                 placeholder="Felhasználó név" formControlName="email" >
                 <span *ngIf="form.controls['email'].errors?.['required']">
                  Email cím megadása kötelező.
                 </span>
              </div>
  
            <div class="input-box mb-3">
                <label for="pass" class="form-label">Jelszó</label>
                <input type="password" class="form-control"
                placeholder="Jelszó" formControlName="password">
                <span *ngIf="form.controls['password'].errors?.['required']">
                  Jelszó megadása kötelező.
                 </span>
              </div>
  
            </div>
  
          <!-- LOGIN BUTTON -->
          <div class="button mb-3 text-center">
              <button id="button" class="btn btn-info" type="submit" >Bejelentkezés</button>
          </div>
  
             <!-- REG LINK -->
          <div class="link text-center">
            <a class="regLink" href="user/register">Nincs még fiókja? Regisztráljon itt!</a>
        </div>
  
      </form>
  </div>
</body>
