<html>
    <div class="container">

        <div class="scrollCard">
            <div class="cards">
                <div class="box">
                    <div class="content" >
                        <!-- <h2>1</h2> -->
                        <div class="parent">
                            <div class="child1">
                                <i id="icon" class="bi bi-people"></i>
                            </div>
                                <div class="child2">
                                     {{num}}
                                </div>
                            </div>
                        </div>
                        <!-- <h3>Tanulók</h3> -->
                        <p></p>
                    </div>
                </div>
            <div class="cards">
                <div class="box">
                    <div class="content">
                        <!-- <h2>2</h2> -->
                       <div class="parent">
                           <div class="child3"><i id="icon" class="bi bi-building"></i></div>
                            <!-- <h3>Iskolák</h3> -->
                            <div class="child4">
                                {{numSchool}}
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="box">
                    <div class="content">
                        <!-- <h2>3</h2> -->
                        <div class="parent">
                            <div class="child5"><i id="icon" class="bi bi-calendar-week"></i></div>
                            <!-- <h3>korosztály</h3> -->
                            <div class="child6" *ngFor="let showAge of ages">
                                {{showAge.kor}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mainCard" >
            <div id="main">
                <div class="scroll"   id="mainContent" >
                    <table class="table table">
                        <thead>
                            <th>ID</th>
                            <th>Név</th>
                            <th>Email</th>
                            <th>Szülév</th>
                            <th>Nem</th>
                        </thead>

                        <tbody *ngIf="users.length ">
                            <tr *ngFor="let user of users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_of_birth }}</td>
                                <td>{{ user.gender }}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div id="mainCard2">
            <div id="main2">
                        <div class="scroll2" id="mainContent2" >
                            <table class="table2 table table">
                                <thead>
                                    <!-- <th>ID</th> -->
                                    <th>Regisztrált Intézmények</th>
                                </thead>

                                <tbody >
                                    <tr *ngFor="let school of schools">
                                        <!-- <td>{{ school.id }}</td> -->
                                        <td>{{ school.buildingName }}</td>
                                    </tr>

                                </tbody>
                            </table>

                    </div>
                </div>
        </div>

    </div>

</html>
