
  .progress{
      width:20%;
  }

  .container{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1500px;
      flex-wrap: wrap;
      padding: 40px 0;

  }

  .container .cards{
      position: relative;
      margin-left: 20px;
      width: 300px;
      height: 200px;
      border-radius: 15px;
      margin-right: 20px;
  }

  .container .cards .box{
      margin: 20px;
      margin-top: 40px;
      width: 270px;
      height: 150px;
      background-color: #ffffff;
      box-shadow: 0 10px 20px #0000001a;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .container .cards:hover .box{

      transform: translateY(-5px);
  }

  .container .cards .box .content{
      padding: 20px;
      text-align: center;
  }

  .parent{
      // position: relative;
      display: flex;
      padding: 5px 5px;
      text-align: center;
  }



  // USER CARD
  .child1 {
      color: #7e9bfd;
      background-color:#b2c4ff;
      padding: 10px 20px;
      border-radius: 10px;
      margin-right: 90px;
      display: inline-block;
      vertical-align:middle;
      font-size: 50px;
    }


  .child2 {
      margin-left: 0px;
      display: inline-block;
      font-weight: 600;
      vertical-align: middle;
      font-size: 50px;
    }


  // INTEZMENY CARD
  .child3 {
      color: #54daff;
      background-color:#b2eeff;
      padding: 10px 20px;
      border-radius: 10px;
      margin-right: 90px;
      display: inline-block;
      vertical-align:middle;
      font-size: 50px;
    }

  .child4 {
      margin-left: 0px;
      display: inline-block;
      font-weight: 600;
      vertical-align: middle;
      font-size: 50px;
    }

    // AGE CARD
    .child5 {
      color: #8aff54;
      background-color:#caffb2;
      padding: 10px 20px;
      border-radius: 10px;
      margin-right: 90px;
      display: inline-block;
      vertical-align:middle;
      font-size: 50px;
    }

  .child6 {
      margin-left: 0px;
      display: inline-block;
      font-weight: 600;
      vertical-align: middle;
      font-size: 50px;
    }

  // GENDER CARD
  .child7 {
          color: rgb(255, 246, 73);
          background-color: #fbffb2;
          padding: 10px 20px;
          border-radius: 10px;
          margin-right: 90px;
          display: inline-block;
          vertical-align:middle;
          font-size: 50px;
        }
  .child8 {
          margin-left: 0px;
          display: inline-block;
          font-weight: 600;
          vertical-align: middle;
          font-size: 50px;
        }

  .scrollCard{
  display: flex;
  margin:50px;
  vertical-align: middle;
  }

  @media (max-width:1000px) {

    .scrollCard{
      position: relative;
      overflow-x: scroll;
      display: scroll;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
              inset -5px -5px 5px rgba(255, 255, 255, 0.5),
              5px 5px 5px rgba(0, 0, 0,0.05),
              -5px -5px 5px rgba(255, 255, 255, 0.5);
      margin: 30px;
      border-radius: 15px;
    }
    .container .cards{
      margin-bottom:30px;
  }
  .container .cards:hover .box{
    transform: none;
}
    .cards::-webkit-scrollbar{
      width: 0;
  }

  }


  // MAIN ADMIN CARDS
  #mainCard{
    flex: 2;
    margin: 30px;
    position: relative;
    min-width: 300px;
    min-height: 50vh;
    border-radius: 15px;

}

  #main{
      background: #ffffff;
      box-shadow: 0 10px 20px rgb(0, 0, 0,0.1);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #mainCard #main #mainContent h2{
      position: relative;
      top: -10px;
      right: 30px;
      font-size: 8em;
      color: rgba(255, 255, 255, 0.05);
      transition: 0.5s;
  }

  thead {
      color: #133264;
      font-size: 3vmin;
      }

  tbody{
    font-size: 2.8vmin;
  }

      .scroll{
          margin-top: 5px;
          height: 400px;
          width: 900px;
          overflow-y: scroll;
          padding: 10px;
      }

      #mainCard2{
        flex: 2;
        margin: 30px;
        position: relative;
        min-width: 300px;
        min-height: 50vh;
        border-radius: 15px;

    }

  #main2{
      background: #ffffff;
      box-shadow: 0 10px 20px rgb(0, 0, 0,0.1);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #mainCard2 #main2 #mainContent2 h2{
      position: relative;
      top: -10px;
      right: 30px;
      font-size: 8em;
      color: rgb(0, 0, 0,0.05);
      transition: 0.5s;
  }

  .scroll2{
      position: relative;
      margin-top: 5px;
      height: 400px;
      width: 650px;
      overflow-y: scroll;
      padding: 10px;
  }
