
<h2>Szia!</h2>

<!-- <h4>Vedd fel tantárgyaidat</h4> -->
<!-- 
<div class="container">
    <div class="cards"  routerLink="/subject">
        <div class="content">
           <h2>Tantárgyaim</h2>
        </div>
    </div>
    <div class="cards"  routerLink="/statistic">
        <div class="content">
           <h2>Statisztika</h2>
        </div>
    </div>
    <div class="cards"  routerLink="/files">
        <div class="content">
           <h2>Fájlok</h2>
        </div>
    </div>
</div>

 -->
