
<!-- <h2>Szia!</h2> -->

<div class="container" >
    
        <div class="cards mt-2">
            <div class="content" routerLink="/user/subject">
                <h2><i id="icon" class="bi bi-journal-plus"></i></h2>
               <div class="parent">
                   <div class="child3">Tantárgyak</div>
                    <!-- <h3>Tantárgyak</h3> -->
               </div>
            </div>
       
       
            <div class="content"  routerLink="/user/file">
                <h2><i id="icon" class="bi bi-file-arrow-up"></i></h2>
               <div class="parent">
                   <div class="child3">Fájlok</div>
                    <!-- <h3>Fájlok</h3> -->
               </div>
            </div>
   
        
            <div class="content" routerLink="/user/statist">
                <h2><i id="icon" class="bi bi-graph-up"></i></h2>
               <div class="parent">
                   <div class="child3">Statisztika</div>
                    <!-- <h3>Statistika</h3> -->
               </div>
            </div>
        </div>

    <div class="noteCard mt-5" >
        <div class="noteContent">
           <div class="noteParent">
            <p class="noteText">To do list</p>
               <div class="hold">
                <form action="" [formGroup]="noteForm" (submit)="addNote()">
                    <div class="noteChild">
                       <input type="text" class="form-control" formControlName="note">
                       <div>
                        <button class="mt-2" type="submit">Felvesz</button>
                    </div>
                    </div>
                </form>

                <div class="list mt-4" >
                   <div class="listBox mt-2" *ngFor="let text of description">
                    <p>{{text.note}}</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <!-- <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div>
                   <div class="listBox mt-2">
                    <p>szia!</p>
                    <button class="delBtn"><i class="bi bi-trash"></i></button>
                   </div> -->
                </div>
               </div>
           </div>
        </div>
    </div>
</div>

