.container{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    // align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    padding: 40px 0;

}
.cards{
    display: flex;
    align-items: baseline;
    border-radius: 15px;
    margin-left: 20px;
}

.container .cards .content{
    margin: 20px;
    margin-top: 40px;
    width: 250px;
    height: 150px;
    background: #77adffbc;
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.1);
    border-radius: 15px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

#icon{
    position: relative;
    top: 10px;
    font-size: 60px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.parent{
text-align: center;
}

.container .cards:hover .content{
    // background: #99bbff;
}

.container .cards .content h2{
    position: absolute;
    font-size: 50px;
    color: #ffffff45;
    transition: 0.5s;
}

.container .cards .content:hover h2{
    color:  #ffffffb7;
}

.container .cards .content .child3{
    margin-top: 85px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(4, 18, 83);
    z-index: 1;
    transition: 0.5s;
}

//NOTE CARD

.noteCard{
    // min-width: 400px;
    // min-height: 700px;
    flex-grow: 1;
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0,0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
 
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}

.noteCard .hold{
   justify-content: center;
    // margin-left: 10px;
    background-color: #0088ff;
    // max-width: 380px;
    // min-height: 590px;
    padding: 20px;
    border-radius: 10px;
}
.noteCard .noteChild{
    margin-left: 1%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fdfdfd8b;
    // max-width: 350px;
}

.noteCard .noteText{
    margin-top: 5px;
    text-align: center;
    color: rgb(23, 23, 23);
    font-size: 40px;
    font-weight: 600;
}

.list{
    padding: 10px;
    background-color: #0000008b;
    max-height: 400px;
    border-radius: 5px;
    overflow-y: scroll;
  
}
.list::-webkit-scrollbar{
    width: 0;
}

.listBox{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
}
.delBtn{
    float: right;
    margin-top:-35px;
    position: relative;
    background-color: #c2d1ff;
    border: none;
    padding: 5px 8px 5px;
    border-radius: 5px;
}
.delBtn i{
    color: #000000;
}
.delBtn:hover{
    background-color: #86a5ff;
}




@media (max-width: 780px)  {
    .cards{
        position: relative;;
        overflow-x: auto;
        display: scroll;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0,0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
        margin-right: 20px;
    }
    .cards .content{
        min-width: 150px;
        
    }
    .cards::-webkit-scrollbar{
        width: 0;
    }
}