<body>

    <div class="container">
        <h2>Töltsd fel fájlaidat | jegyzeteidről képeidet</h2>
        <div class="box">
            <form action="post" [formGroup]="fileForm" (submit)="addNewFile()">
                <div class="input-box ">
                    <label for="description" class="form-label" >Leírás</label>
                    <input type="text" class="form-control"  formControlName="description">
                </div>
                <div class="input-box ">
                    <label for="file" class="form-label" >Fájl</label>
                    <input type="file" class="form-control"  formControlName="image">
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-info" type="submit">Feltölt</button>
                </div>
            </form>
        </div>

            <div class="fileTable" >
                    <div class="fileContent" >
                        <table class="table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Leírás</th>
                                <th>Fájlok</th>
                                <th>Törlés</th>
                            </thead>

                            <tbody >
                                <tr *ngFor="let image of images">
                                    <td>{{ image.id }}</td>
                                    <td>{{ image.description }}</td>
                                    <td><img [src]="imageDirectoryPath+image.image" height="10000px" ></td>
                                    <td>
                                        <button id="deleteBtn" class="btn btn-danger" (click)="Delete(image.id)">Törlés</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                </div>
            </div>
        
        </div>

</body>