<h1 class="text-center mt-5">Jelenlegi Intézmények</h1>

<div class="searchContainer">
  <div class="m-3">
      <button id="search" class="btn btn-dark" (click)="search()">
        <i class="bi bi-search"></i>
      </button>
  </div>
  <div class="search m-3" *ngIf="searchPanel">
    <input type="search" class="search form-control" placeholder="Keresés..." [(ngModel)]="actualBuilding">
  </div>
</div>

<div class="container">
    <div class="content">
      <table class="table tbale-striped">
        <thead>
          <th>Intézmény név</th>
        </thead>
        <tbody>
          <tr *ngFor="let school of schools | adminPipe:actualBuilding">
            <td>{{school.buildingName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
