small a{
  padding:10px;
  color: #FA9646;
}


footer{
    background-color: #0b193d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    color: #a9c1ff;
}
