<!-- <div class="container"> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/user/Uhome"><img src="/assets/images/LOGO.png" alt="">StudCloud</a>
        <button (click)="user()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span  class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav"  [ngClass]="{'show':userNavbar}">
          <ul class="navbar-nav">
            <li class="nav-item"  >
              <a class="nav-link" routerLink="/user/Uhome">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/subject">Tantárgyak</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/statist">Statisztika</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  routerLink="/user/file">Fájlok</a>
            </li>
            </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end"  id="navbarNav"  [ngClass]="{'show':userNavbar}">
              <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link " routerLink="/home" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Kijelentkezés </a>
            </li>
            </ul>
            </div>
      </div>
    </nav>
<!-- </div> -->