<body>

    <h2 class="text-center mt-5">Tekintsd meg általunk elkészitett statisztikádat</h2>
    <div class="container">
        
        <!-- <div class="cardCont"> -->

                <div class="content">
                    <div class="box mt-2">
                            <!-- <p>jelenlegi átlagom az eddig felvett tantárgyakból</p> -->
                            <p class="cardTitle">Jelenlegi átlagom </p>
                            <div class="data">
                                {{show}}
                            </div>
                    </div>
       
            </div>
                <div class="content">
                    <div class="box mt-2">
                            <!-- <p>jelenlegi átlagom az eddig felvett tantárgyakból</p> -->
                            <p class="cardTitle">Feltöltött jegyzeteim</p>
                            <div class="data">
                                {{showFile}}
                            </div>
                    </div>
            </div>
                <div class="content">
                    <div class="box mt-2">
                            <!-- <p>jelenlegi átlagom az eddig felvett tantárgyakból</p> -->
                            <p class="cardTitle">Teendőim száma</p>
                            <div class="data">
                                {{countNote}}
                            </div>
                    </div>
            </div>
        <!-- </div> -->

        <!-- Nem működik még -->
            <!-- <div class="calcCard mt-4">
                <form [formGroup]="form" (ngSubmit)="avgCalc()">
                    <select class="form-select" aria-label="Default select example" (change)="avgSub($event)" >
                        <option selected>Válassz tantárgyat</option>
                        <option [value]="grade.atlag" *ngFor="let grade of grades">{{grade.subject}}</option>
                      </select>
                      <div class="input mt-2">
                        <input class="form-control" type="text" formControlName="input">
                      </div>
                      <div class="currentAvg mt-2">
                        <input class="form-control" for="currentAvg" type="text" formControlName="atlag" readonly #db>
                      </div>
                
                      <div class="avgButton text-center mt-3">
                        <button type="submit" class="btn btn-info">Számít</button>
                      </div>
                      <div class="result mt-3" *ngIf="result">
                        <input type="text" class="form-control" formControlName="result" readonly>
                      </div>
                </form>
            </div> -->

        <div class="gradeTable">
            <table class="table">

                <thead>
                    <th>Tantárgy</th>
                    <th>Jegyek száma</th>
                    <th>Átlag</th>
                </thead>
                
                <tbody>
                    <tr class="contentTable" *ngFor="let grade of grades">
                        <td class="subject">
                            <div class="contentRow">{{grade.subject}}</div>
                        </td>
                        <td class="subject">
                            <div class="contentRow">{{grade.jegydb}}</div>
                        </td>
                    
                        <td class="grade">
                            <div class="contentRow">{{grade.atlag}}</div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    
</body>