
.first{
    background: #2B468B;
    min-height: 500px;
}
app-navbar{
    margin-top: 20px;
    margin: 10px;
}

.mainImage{
    width: 250px;
    margin-left: 55px;
    margin-bottom: 30px;
}

.firstSection{
    position: relative;
    // margin-top: 80px;
    width: 100%;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2B468B;
}

.mainText{
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.miniTitle{

    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
}

.secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    background: #e5ebffd1;
}
 .row{
    width: 100%;
    max-width: 1300px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30;
}

 .row .left{
   overflow: hidden;
   margin-bottom: 20px;
}

.row .left .image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
 .row .right{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.row .right .card1{
    padding-left: 20px;
    padding-bottom: 26px;
}

.card1{
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.title_1{
  margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
    color: #FA9646;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_2, .title_3, .title_3, .title_4{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2B468B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_6{
    font-weight: 600;
    font-size: 15px;
    line-height: 5px;
    color: #2B468B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:650px){
    .row{
        width: 100%;
        max-width: 800px;
        display:flex;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 30;
    }
}



.thirdSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background: #ffffffd7;
}

.cards{
    margin: 30px;
    padding: 10px 0px 10px;
    max-width: 1450px;
    display: flex;
    overflow-x: scroll;
    border-radius: 20px;
    background-color: #96a1bb;
}

.cards::-webkit-scrollbar{
    width: 0;
}

.cards .content{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;

    min-width: 320px;
    height: 280px;
    border-radius: 15px;
    background: #2B468B;

}

.img{
    margin: 30px;
}

.pic{
    width: 120px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
}

.cardTitle{
    text-align: center;
    // margin-top: 40%;
    font-weight: 500;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.fourthSection{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 750px;
  background: #2B468B;
}

.fifthSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background: #e5ebffd1;
}

.aboutme {
font-size: 40px;
font-weight: 500;
}


.aboutimg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;

}
.github{
    padding: 20px;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.overlay {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 0;
  transition: .5s ease;
  background-color: #878dc179;
}

.link {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.github:hover .overlay {
  opacity: 1;
}


.link:hover {
  color: #000000;
}

.aboutCard{

  background-color: #8d9fda9e;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  max-width: 800px;
;
}

small a{
  padding:10px;
}


footer{
    background-color: #0b193d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    width: 100%;
    color: #a9c1ff;
}
