<!-- <div *ngIf="isLoggedIn()">
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.email}}</li>
    </ul>
</div> -->

    <section class="first">

        <app-navbar></app-navbar>
        <div class="firstSection">
            <div class="containerText">
                <img class="mainImage" src="assets/images/LOGO.png" alt="">
                <h2 class="mainText">Welcome!</h2>
                <p class="miniTitle">Légy részese te is a Diák Felhőnek !</p>
            </div>
        </div>
    </section>


<section class="secondSection">
        <div class="row">
            <div class="left"><img class="image" src="assets/images/projekt2.jpg" alt=""></div>
            <div class="right">
                <div class="card1">
                    <p class="title_1">Miért érdemes kipróbálnod?</p>
                    <p class="title_2">Többször tapasztaltad, hogy tanáraid nem írták be jegyeidet azonnal.
                        Sokszor fejfájást okoz, ha nem tudod átlagod nyomon követni?</p>
                    <p class="title_3">Történt már veled olyan, hogy az órán
                        lefotóztad az anyagot, mások jegyzetét,
                        de a sok fotó közt nehéz volt megtalálnod?</p>
                    <p class="title_4">Van hogy elfelejtessz egy fontos dolgozatot? Esetleg elfelejted megírni
                        a házikat/beadandókat?</p>
                    <p class="title_5">Ez esetben ne gondolkozz!</p>
                    <a routerLink="user/register" routerLinkActive="router-link-active"  class="title_6"> Regisztrálj és legyél részese te is!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="thirdSection">
            <div class="cards">
                <div class="content">
                    <div class="img">
                        <img class="pic" src="assets/images/math.png" alt="">
                    </div>
                    <p class="cardTitle">Tantárgy felvétel</p>
                </div>

                <div class="content">
                    <div class="img">
                        <img class="pic" src="assets/images/goal.png" alt="">
                    </div>
                    <p class="cardTitle">Lista készítés</p>
                </div>

                <div class="content">
                    <div class="img">
                        <img class="pic" src="assets/images/image.png" alt="">
                    </div>
                    <p class="cardTitle">Fájl feltöltés</p>
                </div>

                <div class="content">
                    <div class="img">
                        <img class="pic" src="assets/images/chart.png" alt="">
                    </div>
                    <p class="cardTitle">Statisztika</p>
                </div>
            </div>

    </section>

    <section class="fourthSection">
      <div class="row">
          <div class="left"><img class="image" src="assets/images/projekt1.jpg" alt=""></div>
          <div class="right">
              <div class="card2">
                  <p class="title_1">Miért érdemes kipróbálnod?</p>
                  <p class="title_2">Többször tapasztaltad, hogy tanáraid nem írták be jegyeidet azonnal.
                      Sokszor fejfájást okoz, ha nem tudod átlagod nyomon követni?</p>
                  <p class="title_3">Történt már veled olyan, hogy az órán
                      lefotóztad az anyagot, mások jegyzetét,
                      de a sok fotó közt nehéz volt megtalálnod?</p>
                  <p class="title_4">Van hogy elfelejtessz egy fontos dolgozatot? Esetleg elfelejted megírni
                      a házikat/beadandókat?</p>
                  <p class="title_5">Ez esetben ne gondolkozz!</p>
                  <a routerLink="user/register" routerLinkActive="router-link-active"  class="title_6"> Regisztrálj és legyél részese te is!</a>
              </div>
          </div>
      </div>
  </section>


    <section class="fifthSection">
      <img class="aboutImg" src="/assets/images/about.jpeg" alt="">

    </section>

    <footer>
        <small>&copy; Copyright, Kovács Dorina</small>
    </footer>
