<!-- <div *ngIf="isLoggedIn()">
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.email}}</li>
    </ul>
</div> -->

    <section class="first">
        <div class="navbar">
            <app-navbar></app-navbar>
        </div>
    
        <div class="firstSection">
            <div class="containerText">
                <h2 class="mainText">Welcome!</h2>
                <p class="miniTitle">Légy részese te is a Diák Felhőnek !</p>
            </div>
        </div>
    </section>
    
    <section class="secondSection">
        <div class="row">
            <div class="left"><img class="image" src="assets/images/student.jpg" alt=""></div>
            <div class="right">
                <div class="card1">
                    <p class="title_1">Miért érdemes kipróbálnod?</p>
                    <p class="title_2">Többször tapasztaltad, hogy tanáraid nem írták be jegyeidet azonnal.
                        Sokszor fejfájást okoz, ha nem tudod átlagod nyomon követni?</p>
                    <p class="title_3">Történt már veled olyan, hogy az órán
                        lefotóztad az anyagot, mások jegyzetét,
                        de a sok fotó közt nehéz volt megtalálnod?</p>
                    <p class="title_4">Van hogy elfelejtessz egy fontos dolgozatot? Esetleg elfelejted megírni
                        a házikat/beadandókat?</p>
                    <p class="title_5">Ez esetben ne gondolkozz!</p>
                    <p class="title_6"> Regisztrálj és legyél részese te is!</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="thirdSection">

            <div class="cards">
                <div class="content">Felvétel</div>
                <div class="content">Statisztika</div>
                <div class="content">Fájl</div>
                <div class="content">Képek</div>
            </div>

    </section>

<!--     
    <section class="fourthSection">
    </section> -->
    
    <footer>
        <small>&copy; Copyright, Kovács Dorina</small>
    </footer>
