body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url('/assets/images/bg3.gif');
   
}


.container{
    max-width: 700px;
    width: 100%;
    // box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 0.05),
    // inset -5px -5px 1px #ffffff80,
    // 5px 1px 1px rgba(0, 0, 0,0.05),
    // -5px -5px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px 5px #0b051b80;
    background-color: opacity($color: #ffffff);
    padding: 25px 30px;
    border-radius: 5px;
}

.container #regText{
    font-size: 25px;
    font-weight: 500;
    // font-variant: small-caps;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
// .container #regText::before{
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 2px;
//     width: 100%;
//     background: #000000;
// }
.container form .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .box .input-box{
    width: calc(100% /2 - 20px);
    margin: 20px 0px 12px 0px;
}

form .box .input-box .form-label{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
}


form .box .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #8e78ef;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}
form .box .input-box select{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #8e78ef;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}

// .box .input-box input:focus,
// .box .input-box input:valid{
//     border-color: #d1f283;
// }

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    background-color: #b6a6ff;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

form .button button:hover{
    background-color: #8e78ef;
}

@media (max-width: 584px) {

    .container #regText{
        color: #ffffff;
    }
    .container{
        max-width: 100%;
    }
    form .box .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .box{
        max-height: 300px;
        overflow-y: scroll;
    }
    
    .box::-webkit-scrollbar{
        width: 0;
    }
    form .box .input-box{
        margin: 15px;
    }
    
}

.regLink{
    color: #6738b9;
    font-weight: 400;
    font-size: 15px;
}


// // CONTAINER
// .container{
//     position: relative;
//     display: flex;
//     height: 900px;
//     width: 800px;
//     box-shadow: 0px 2px 40px rgb(175, 183, 199);
//     margin:auto;
//     margin-top: 50px;
// }

// // jobb oldal LOGIN

// .login{
//     display: flex;
//     flex-direction: column;
//     width: 50%;
//     align-items: center;
//     background-color:#ffffff;
// }
// #loginText{
//     font-size: 30px;
//     margin-top: 30px;
//     font-weight: 600;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-variant: small-caps;
// }
// .box{
//     margin-top: 20px;
//  }
// label{
//     margin: 2px;
// }
// input{
//     width: 250px;
//     padding: 5px;
//     border-radius: 5px;
// }
// .link{
//     display: flex;
//     font-size: 12px;
// }
// .regLink{
//     color: #7b8ae9;
// }
// .button{
//     margin-top: 25px;
// }
// #button{
//     border-radius: 20px;
//     width: 150px;
//     background-color: #e97bc8;
//     padding: 8px;
//     border:  none;

// }
// #button:hover{
//     background-color: #7b8ae9;
// }
// // bal oldal
// .welcomeTextMini{
//     position: absolute;
//     top: 33%;
//     // left: 25%;
//     margin-left: 30px;
//     text-align: center;
//     font-size: 15px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     transform: translate(-50%, -50%);
//     color: #ffffff;
// }
// .welcomeText{
//     position: fixed;
//     top: 38%;
//     // left: 30%;
//     margin-left: 225px;
//     text-align: center;
//     font-size: 50px;
//     font-weight: 600;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     transform: translate(-50%, -50%);
//     color: #ffffff;
//     font-variant: small-caps;

// }
// .leftSide{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 50%;

// }
// img{
//     margin: 0;
//     width: 450px;
//     height: 900px;
// }


//VALIDATION
select.ng-valid,
input.ng-valid {
    border-left: 10px solid #d2ff60;
}

span{
    color: #e41b1b;
}