<body>
  <div class="container">
     <div id="regText" class="text-center">Regisztráció</div>
  
      <!-- REG FORM (RIGHT SIDE) -->
        <form  [formGroup]="form" (ngSubmit)="register()">
            <!-- REG BOX -->
            <div class="box">
              <div class="input-box mb-3">
                  <label class="form-label ">Intézmény neve</label>
                  <input type="text" class="form-control"
                   placeholder="Intézmény" formControlName="buildingName" >
                   <span *ngIf="form.controls['buildingName'].errors?.['required']">
                    Iskola nevének megadása kötelező.
                   </span>
                </div>
              <div class="input-box mb-3">
                  <label class="form-label ">Felhasználó név</label>
                  <input type="text" class="form-control"
                   placeholder="Teljes név" formControlName="name" >
                   <span *ngIf="form.controls['name'].errors?.['required']">
                    Név megadása kötelező.
                   </span>
                </div>
  
              <div class="input-box mb-3">
                  <label class="form-label ">Email</label>
                  <input type="email" class="form-control"
                   placeholder="Email címet" formControlName="email" >
                   <span *ngIf="form.controls['email'].errors?.['required']">
                    Email cím megadása kötelező.
                   </span>
                </div>
  
  
              <div class="input-box mb-3">
                  <label class="form-label ">Születési év</label>
                  <input type="date" class="form-control"
                   formControlName="birthday"> 
                   <span *ngIf="form.controls['birthday'].errors?.['required']">
                    Születési év megadása kötelező.
                   </span>
                </div>
  
                <div class=" input-box mb-3">
                  <label for="password" class="form-label">Nem</label>
                  <select formControlName="gender" class="form-select" aria-label="Default select example">
                      <option value="nő">Nő</option>
                      <option value="férfi">Férfi</option>
                      <option value="egyéb">Egyéb</option>
                  </select>
                  <span *ngIf="form.controls['gender'].errors?.['required']">
                    Nem megadása kötelező.
                   </span>
              </div>
  
              <div class="input-box mb-3">
                  <label class="form-label">Jelszó</label>
                  <input type="password" class="form-control"
                  placeholder="Jelszó" formControlName="pass">
                  <span *ngIf="form.controls['pass'].errors?.['required']">
                    Jelszó megadása kötelező.
                   </span>
                </div>
  
              <div class="input-box mb-3">
                  <label class="form-label">Jelszó megerősítés</label>
                  <input type="password" class="form-control"
                  placeholder="Jelszó megerősítés" formControlName="conf_pass">
                  <span *ngIf="form.controls['conf_pass'].errors?.['required']">
                    Jelszó megerősítés kötelező.
                   </span>
                </div>
  
              </div>
  
            <!-- REG BUTTON -->
            <div class="button mb-3 text-center">
                <button id="button" class="btn btn-info" type="submit" >Regisztráció</button>
            </div>
  
               <!-- LOG LINK -->
            <div class="link text-center">
              <a class="regLink" href="/user/login">Van már fiókja? Jelentkezzen be!</a>
          </div>
  
        </form>
    </div>
  
</body>