body{
    height: 100vh;
    padding: 10px;
    background-image: url('/assets/images/bg3.gif');
   
}


.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    
    }
    app-navbar{
        margin-top: 20px;
        width: 5000px;
    }
    



.container{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 50px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0px 2px 20px #5a5b5c;
    background-color: #ffffff68 ;
    padding: 25px 30px;
    border-radius: 15px;
}

.container #regText{
    font-size: 25px;
    font-weight: 500;
    // font-variant: small-caps;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.container form .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .box .input-box{
    width: calc(100% /2 - 20px);
    margin: 20px 0px 12px 0px;
}

form .box .input-box .form-label{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
}


form .box .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #6188f1;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}
form .box .input-box select{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #6188f1;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}

// .box .input-box input:focus,
// .box .input-box input:valid{
//     border-color: #d1f283;
// }

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #546cf6;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

form .button button:hover{
    background-color: #304fff;
}

@media (max-width: 584px) {

    // .container #regText{
    //     color: #ffffff;
    // }
    .container{
        max-width: 100%;
    }
    form .box .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .box{
        max-height: 300px;
        overflow-y: scroll;
    }
    
    .box::-webkit-scrollbar{
        width: 0;
    }
    form .box .input-box{
        margin: 15px;
    }
    
}

.regLink{
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}


//VALIDATION
select.ng-valid,
input.ng-valid {
    border-left: 10px solid #d2ff60;
}

span{
    color: #e41b1b;
}